<h1>Listing doors</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doors.each do |door| %>
  <tr>
    <td><%= door.day %></td>
    <td><%= door.content %></td>
    <td><%= link_to 'Show', door %></td>
    <td><%= link_to 'Edit', edit_door_path(door) %></td>
    <td><%= link_to 'Destroy', door, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Door', new_door_path %>
